/* =Custom Styles
-------------------------------------------------------------- */

.centered-text {
	text-align: center;
}

.has-soft-transition {
	transition: all 250ms linear;
}

.has-transition {
	transition: all 400ms linear;
}

.sendBtn {
	color: #FFF!important;
	text-decoration: none!important;
	transition: all 400ms linear;
}

.col-gutter {
	margin-left: 29.5px;
	width: 30%;
}